
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Employee</h1>
        </div>
        <!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Employee List</li>
          </ol>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                    <a routerLink='/create-employee' routerLinkActive='active' class="btn btn-info float-left"><i class="fas fa-plus"></i> Create Employee</a>
                </div>
                <!-- /.card-header -->
                <!-- Card body start -->
                <div class="card-body">
                
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                    
                        <th>First name</th>
                        <th>Last Name</th>
                        <th>Email Id</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let employee of employees">
                        <td>{{ employee.firstName }}</td>
                        <td>{{ employee.lastName }}</td>
                        <td>{{ employee.emailId }}</td>
                        <td>
                          <button
                            (click)="updateEmployee(employee.id)"
                            class="btn btn-info"
                          >
                            Update
                          </button>
                          <button
                            (click)="deleteEmployee(employee.id)"
                            class="btn btn-danger"
                            style="margin-left: 10px"
                          >
                            Delete
                          </button>
                          <button
                            (click)="employeeDetails(employee.id)"
                            class="btn btn-info"
                            style="margin-left: 10px"
                          >
                            View
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- /.row -->
    </div>
    <!--/. container-fluid -->
  </section>
  <!-- /.content -->

